.App {
  text-align: center;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appBody {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: sans-serif;
  background-image: url("https://images.unsplash.com/photo-1558811916-51c8d56d29c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .navsignlog{
	margin: 2px 4px;
}
.main {

	height: 500px;
}

.center-block{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    height: 250px;
    width: 250px;
    opacity: 100%;
}
.about {
	height: auto;
	background-color: white;
	padding: 10% 10%;
}

h1 {
	padding: 2% 2%;
}
.team {
	height: auto;
	background-color: black;
	color: white;
	padding: 10% 10%;
}

.team img{
	height: 300px;
	width:285px;
}
.card-body{
	color:black;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        width: 18rem;
}

.contact{
	height: auto;
	background-color: #BAEFED;
	padding:10% 10%;
}


.footer {
	padding:3% 2%;
	color:white;
}