.Edit{
    text-align: center;
    background-color: whitesmoke;
    }
    
    .bodyProfile{
        background-color: whitesmoke;
    }
    
    nav{
        margin: 2px 4px;
        background-color: black;
    }
    
   #editcancelbutton{
       margin-left:2%;
   }
    
    .imgsize{
        display: inline-block;
        max-width: 20%;
        height: auto;
    }

    .align-right{
        float: right;
    }
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li, .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 100px;
    }

    .list-arrows button {
        margin-bottom: 20px;
    }
    
    .editcancelbutton{
        margin-left:1%;
    }

    #buttoncontain{
        display: flex;
        justify-content: center;
  
    }

    .editfooter{
        color:black;
        padding: 2% 2%;
    }