.Edit{
    text-align: center;
    background-color: whitesmoke;
    }
    
    .bodyProfile{
        background-color: whitesmoke;
    }
    
    nav{
        margin: 2px 4px;
        background-color: black;
    }
    
    footer {
        padding:3% 2%;
        color:black;
    }
    
    .imgsize{
        display: inline-block;
        max-width: 20%;
        height: auto;
    }

    .align-right{
        float: right;
    }
    #editcancelbutton{
        margin-left:1%;
    }

    #buttoncontain{
        display: flex;
        justify-content: center;
  
    }

    footer{
        background-color:black;
    }