.Profile{
text-align: center;
background-color: whitesmoke;
}

body{
    background-color: whitesmoke;
}

nav{
    margin: 2px 4px;
    background-color: black;
}

footer {
	padding:3% 2%;
	color:black;
}

.imgsize{
    align-items: left;
    height: 3%;
    width: 3%;
}
