
  .dashboard{
      background-color:rgb(3, 23, 34);
  }
  .searchclass{
      padding-left: 3%;
      padding-top:2%;
      margin-top:10px;
  }
  #searchbar{
      width:100%;
  }
  #categoriesdrop{
      width: 100%;
      
  }
  
  .results{
      padding-top:50px;
      margin:2% auto;
      height: 100%;
      color: white;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR0R_YxnylxRa0tsBU3uSkZ85NPKdjozVbzi5ne7gvycNdHsl-_KDgw6mHk");

  }
  #searchbar{
      width:80%;
  }
  .results h5{
      padding-top: 250px;
      color: grey;
  }
  
  /*TRENDING.HTML CODE*/
  .trending{
      height:600px;
      background-color: white;
  }
  nav .navsignlog{
      margin: 2px 4px;
  }
  .main {
  
      height: 500px;
  }
  
  .center-block{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25%;
      height: 250px;
      width: 250px;
      opacity: 100%;
  }
  .about {
      height: auto;
      background-color: white;
      padding: 10% 10%;
  }
  
  h1 {
      padding: 2% 2%;
  }
  .team {
      height: auto;
      background-color: black;
      color: white;
      padding: 10% 10%;
  }
  
  .team img{
      height: 300px;
      width:285px;
  }
  .card-body{
      color:black;
  }
  .card {
          margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-bottom: 10px; /* Added */
  }
  
  .contact{
      height: auto;
      background-color: #BAEFED;
      padding:10% 10%;
  }
  
  
  footer {
      padding:3% 2%;
      color:white;
  }
  