    
    .dashboard{
        margin-top: 7%;
        text-align: center;
        background-color: black;
        }
        
        .imgsize{
            display: inline-block;
            max-width: 20%;
            height: auto;
        }
        .trending{
            height:600px;
            background-color: white;
        }    
        #trendingfooter {      
            background-color: black;
            color: white;
            padding: 3% 2%;
        }